<!DOCTYPE html>
<html>
<head>
  <title>Iwork</title>
  <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<nav>
  <div class="nav-wrapper">
    <%= link_to "Logo", index_path, class:'brand-logo' %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down black-text"><span class="black-text">
        <li><%= link_to "Strona główna",index_path %></li>
        <li><%= link_to "Oferty",index_path %></li>
        <li><%= link_to "Kontakt",index_path %></li>
        <% if user_signed_in? %>

          <li><%= link_to current_user.nazwisko, profil_path %></li>
          <li><%= link_to('Wyloguj', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to "Rejestracja", new_user_registration_path %></li>
          <li><%= link_to "Logowanie", new_user_session_path %></li></span>
        <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="index.html">Strona główna</a></li>
      <li><a href="index.html">Oferty</a></li>
      <li><a href="collapsible.html">Kontakt</a></li>
      <li><a href="mobile.html">Rejestracja </a></li></span>
      <li><a href="mobile.html">Logowanie</a></li></span>
    </ul>
  </div>
</nav>


<%= yield %>


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

</body>
</html>

<!-- smieci